$clr-primary: #00171f;
$clr-white: #ffffff;
$clr-accent-blue: #003459;
$clr-accent-green: #034c3c;
$clr-accent-red: #93032e;

$ff-accent: "Black Ops One", cursive;
$ff-body: "Open Sans Condensed", sans-serif;
